@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #3065ab;
  --secondary: #d16d4b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-rainbow-border {
  background-size: 300% 300%;
  animation: rainbow 6s ease infinite;
  filter: blur(4px);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mulish), sans-serif;
}
